.button {
  @include input-reset;
  display: block;
  width: 100%;
  padding: 12px 12px;

  font-family: $ff-open-sans;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  background-color: $color-white;
  color: $color-charcoal;
  text-align: center;
  text-transform: uppercase;

  border: none;
  outline: 2px solid $color-charcoal;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-charcoal;
    color: $color-white;
  }

  &:active {
    background-color: $color-charcoal;
    color: rgba($color-white, 0.3);
  }

  &--secondary {
    width: 260px;
    padding: 18px;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    color: $color-white;
    text-transform: uppercase;

    background-color: $color-downy;
    outline: none;
    border-color: transparent;

    &:hover {
      background-color: $color-downy;
      opacity: 0.8;
    }

    &:focus {
      background-color: $color-downy;
      outline: auto;
      opacity: 0.7;
    }

    &:active {
      background-color: $color-downy;
      opacity: 0.6;
    }
  }

  &--modal {
    &:hover {
      color: $color-charcoal;

      background-color: transparent;
      outline-color: rgba($color-charcoal, 0.3);
    }

    &:active {
      outline-color: $color-downy-mod;
    }
  }

  @media (min-width: $vp-768) {
    font-size: 17px;
  }
}
