.form__title-wrapper {
  padding: 74px 0 74px 0;
  margin: 0 auto;

  background-color: $color-white-smoke;
}

.form__title {
  width: 77%;
  margin: 0 auto 0 auto;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}

.form__wrapper {
  padding: 17px 0 55px 0;

  @media (min-width: $vp-768) {
    padding: 67px 0 50px 0;
  }

  @media (min-width: $vp-1150) {
    padding: 117px 0 50px 0;
  }
}

.form__description {
  margin: 0 0 29px 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    margin: 0 0 13px 0;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $vp-768) {
    max-width: 702px;
    margin: 0 auto 13px auto;
  }
}

.form__order {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  @media (min-width: $vp-768) {
    font-size: 19px;
  }
}

.form__fieldset {
  @include fieldset-reset;

  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;

  @media (min-width: $vp-768) {
    display: grid;
    grid-template-columns: 149px 1fr;
    gap: 20px;

    max-width: 875px;
    margin: 0;
    padding: 50px 0 50px 0;
  }

  @media (min-width: $vp-1150) {
    gap: 26px;

    padding: 50px 0 48px 0;
  }

  &--color {
    @media (min-width: $vp-1150) {
      max-width: unset;

      padding: 50px 0 50px 0;
    }
  }

  &--user {
    margin-bottom: 36px;

    @media (min-width: $vp-768) {
      margin: 0;

      & .form__label-name {
        margin: 0 23px 0 0;
        padding: 16px 0 0 0;
      }
    }

    @media (min-width: $vp-1150) {
      padding: 50px 0 50px 0;
    }
  }

  &--tel {
    margin-bottom: 36px;

    @media (min-width: $vp-768) {
      padding: 0;
      margin: 0;
    }
  }

  &--email {
    margin-bottom: 36px;

    @media (min-width: $vp-768) {
      padding: 0;
      margin: 0;
    }
  }

  &--comment {
    margin-bottom: 17px;

    @media (min-width: $vp-768) {
      gap: 18px;
      margin: 0;
      padding: 50px 0 53px 0;
    }

    @media (min-width: $vp-1150) {
      gap: 26px;

      padding: 50px 0 50px;
    }
  }
}

.form__fieldset-group {
  @media (min-width: $vp-768) {
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    padding: 50px 0 50px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100vw;

      width: 200vw;
      height: 100%;

      z-index: -1;

      background-color: $color-white-smoke;
    }
  }
}

.form__subtitle {
  @include legend-reset;
  margin: 0 0 30px 0;
  padding-right: 15px;

  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $color-downy;
  text-transform: uppercase;

  &--color {
    margin-bottom: 24px;
  }

  &--tel {
    margin-bottom: 17px;
  }

  &--email {
    margin-bottom: 17px;

    @media (min-width: $vp-1150) {
      transform: translateX(15px);
    }
  }

  &--comment {
    margin-bottom: 22px;
  }

  &--decoration {
    position: relative;
    display: inline-flex;
    z-index: 1;

    @media (max-width: ($vp-768 - 1px)) {
      &::before {
        position: absolute;
        content: "";
        top: 34%;
        left: 0;
        width: calc(100% + 18px);
        background-color: rgba($color-black, 0);
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        right: 0;
        z-index: -2;
        width: calc(100% - 60px);
        min-width: calc($vp-320 - 60px);
        height: 1px;
        background-color: $color-downy-mod;
        transform: translateY(-50%);
      }
    }
  }

  @media (min-width: $vp-768) {
    margin: 18px 0 0 0;
    padding: 0;
  }

  @media (min-width: $vp-1150) {
    display: flex;
    justify-content: center;
  }
}

.form__subtitle-inner {
  display: block;

  max-width: 80px;
  padding: 0 20px 0 0;

  background-color: $color-white;

  @media (min-width: $vp-768) {
    background-color: rgba($color-black, 0);
  }

  @media (min-width: $vp-1150) {
    padding: 0 0 0 5px;
  }
}

.form__list {
  @include list-reset;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;

  @media (min-width: $vp-768) {
    row-gap: 24px;
  }

  &--checkbox {
    gap: 23px;

    @media (min-width: $vp-768) {
      grid-template-columns: repeat(auto-fill, 237px);
      gap: 24px;
    }
  }

  &--user {
    row-gap: 22px;
  }
}

.form__label {
  position: relative;

  display: flex;
  align-items: center;

  cursor: pointer;

  &--radio {
    position: relative;
    min-height: 42px;
    padding-left: 61px;

    @media (min-width: $vp-768) {
      min-height: 52px;
      padding-left: 78px;
    }
  }

  &--checkbox {
    position: relative;
    min-height: 38px;
    padding-left: 61px;

    @media (min-width: $vp-768) {
      min-height: 52px;
      padding-left: 78px;
    }
  }

  &--user {
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: $vp-768) {
      flex-direction: row;
    }
  }
}

.form__label:hover .form__mark,
.form__label:hover .form__mark-checkbox,
.form__label:hover .form__textarea {
  border-color: $color-downy-mod;
}

.form__label:active .form__mark,
.form__label:focus-within .form__mark,
.form__label:active .form__mark-checkbox,
.form__label:focus-within .form__mark-checkbox,
.form__label:active .form__textarea,
.form__label:focus-within .form__textarea {
  border-color: rgba($color-black, 0.3);
}


.form__field {
  @include input-reset;

  width: 100%;
  padding: 16px 10px 16px 0;

  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  background-color: transparent;
  color: $color-black;
  border-bottom: 2px solid $color-black;

  @media (min-width: $vp-768) {
    padding: 13px 18px 11px 18px;

    font-size: 19px;
  }

  &::placeholder {
    font-weight: 400;

    color: rgba($color-black, 0.3);
  }

  &--icon {
    padding: 0 40px 17px 0;

    @media (min-width: $vp-768) {
      padding: 11px 40px 13px 16px;
    }
  }

  &:hover,
  &:not(:placeholder-shown),
  &:active,
  &:focus {
    border-color: $color-downy-mod;
  }

  &:disabled,
  &:disabled + .form__input-text {
    opacity: 0.3;

    pointer-events: none;
  }
}

.form__field-icon {
  position: absolute;
  top: 23%;
  right: 6px;
  transform: translateY(-50%);
  color: rgba($color-black, 0.2);
  pointer-events: none;

  @media (min-width: $vp-768) {
    top: 43%;
    right: 27px;
  }

  @media (min-width: $vp-1150) {
    right: 7px;
  }

  &--email {
    top: 33%;
    right: 3px;

    @media (min-width: $vp-768) {
      top: 50%;
      right: 22px;
    }

    @media (min-width: $vp-1150) {
      right: 5px;
    }
  }
}

.form__field:hover + .form__field-icon,
.form__field:focus + .form__field-icon,
.form__field:active + .form__field-icon,
.form__field:not(:placeholder-shown) + .form__field-icon {
  color: $color-downy-mod;
}

.form__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid $color-charcoal;

  @media (min-width: $vp-768) {
    width: 52px;
    height: 52px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgba($color-black, 0);

    @media (min-width: $vp-768) {
      width: 23px;
      height: 23px;
    }
  }
}

.form__control-input:checked + .form__mark::before {
  background-color: $color-downy-mod;
}

.form__mark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  border: 2px solid $color-charcoal;

  @media (min-width: $vp-768) {
    width: 52px;
    height: 52px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38px;
    height: 38px;
    background-image: url("../img/svg/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;

    @media (min-width: $vp-768) {
      width: 52px;
      height: 52px;

      background-size: 31px 22px;
    }
  }
}

.form__control-input:checked + .form__mark-checkbox::before {
  opacity: 1;
}

.form__input-text {
  display: block;
  align-self: center;
  padding: 1px 0 0 0;

  color: $color-black;

  cursor: pointer;
  pointer-events: all;

  @media (min-width: $vp-768) {
    max-width: 360px;
  }
}

.form__textarea {
  display: block;
  min-width: 260px;
  width: 100%;
  min-height: 142px;
  margin: 0 auto;
  padding: 17px 17px 17px 17px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: $color-black;
  border: 2px solid $color-charcoal;
  resize: none;

  @media (min-width: $vp-768) {
    font-size: 19px;
  }

  &::placeholder {
    font-family: $ff-open-sans;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: $color-black;

    @media (min-width: $vp-768) {
      font-size: 19px;
    }
  }
}

.form__submit {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    max-width: 875px;
  }

  @media (min-width: $vp-1150) {
    max-width: unset;
    padding: 0 174px;
  }
}

.form__text-required {
  margin: 0 0 30px 0;
  font-family: $ff-open-sans;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    order: 1;

    margin: 0;
    padding: 12px 0 0 0;

    font-size: 17px;
    line-height: 30px;
  }
}

.form__submit-button {
  padding: 18px 18px 14px 18px;
  font-size: 17px;
  line-height: 16px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    max-width: 230px;
  }
}
