.hero {
  padding: 73px 0 0 0;

  background-color: $color-snow;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% -17px;

  @media (min-width: $vp-768) {
    padding-top: 90px;
    background-image: url("../img/hero-desktop.jpg");
    background-position: 50% -66px;
  }

  @media (min-width: $vp-1150) {
    margin: 0 0 71px 0;
  }
}

.hero__title {
  max-width: 385px;
  margin: 0 auto 120px auto;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $vp-768) {
    max-width: 700px;
    margin-bottom: 372px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 355px;

    font-size: 53px;
    line-height: 57px;
  }
}

.hero__list {
  @include list-reset;
  max-width: 385px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $color-white;

  @media (min-width: $vp-768) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    max-width: unset;

    font-size: 20px;
    line-height: 30px;
  }
}

.hero__item {
  width: 100%;
}

.hero__link {
  position: relative;
  z-index: 1;

  display: block;
  min-height: 103px;
  padding: 24px 160px 31px 30px;
  background-color: $color-downy;
  color: $color-white;
  text-decoration: none;

  @media (min-width: $vp-768) {
    min-height: 119px;
    padding: 25px 167px 34px 36px;
  }

  @media (min-width: $vp-1150) {
    padding: 25px 66% 34px 37px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 23px;
    right: 6px;
    z-index: 2;

    width: 40px;
    height: 62px;

    background-image: url("../img/svg/interior.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;

    @media (min-width: $vp-768) {
      top: 30px;
      right: 36px;

      width: 41px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: -1;

    width: 200vw;
    min-width: 640px;
    height: 100%;

    background-color: $color-downy;

    @media (min-width: $vp-768) {
      display: none;
    }
  }

  &--toy {
    &::before {
      top: 21px;
      right: -2px;

      width: 60px;
      height: 60px;

      background-image: url("../img/svg/toy.svg");

      @media (min-width: $vp-768) {
        top: 31px;
        right: 33px;

        width: 62px;
        height: 62px;
      }
    }
  }

  &--accent {
    background-color: $color-puerto-rico;
  }

  @media (min-width: $vp-768) {
    padding: 26px 160px 31px 36px;
  }
}

.hero__item:nth-child(2n) .hero__link {
  &::after {
    background-color: $color-puerto-rico;
  }
}
