.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  z-index: 1;
}

.modal.is-open {
  display: flex;
}

.modal__content {
  width: 100%;
  min-width: 320px;
  min-height: 336px;
  padding: 28px 30px 46px 30px;
  background-color: $color-white;
  border: 1px solid $color-silver;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

.modal__title {
  margin: 0 0 14px 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.modal__text {
  margin: 0 0 22px 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $color-charcoal;
  text-align: center;
}
