.product__wrapper {
  position: relative;

  padding: 31px 0 36px 0;

  @media (min-width: $vp-768) {
    padding: 51px 0 50px 0;
  }

  @media (min-width: $vp-1150) {
    padding: 61px 0 50px 0;
  }
}

.product__title-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  margin: 0 0 17px 0;

  @media (min-width: $vp-768) {
    grid-template-columns: 3fr 1fr;
    gap: 20px;

    margin: 0 0 38px 0;
  }

  @media (min-width: $vp-1150) {
    grid-template-columns: 164px 1fr;
    gap: 11px;
  }
}

.product__title {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $color-downy;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    max-width: 126px;
    padding-top: 6px;

    justify-self: flex-end;
    text-align: center;

    line-height: 17px;
  }

  @media (min-width: $vp-1150) {
    justify-self: center;

    padding-top: 10px;
  }
}

.product__subtitle {
  order: -1;

  margin: 0 0 3px 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  @media (min-width: $vp-768) {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    order: 0;

    margin: 0;
    font-size: 53px;
    line-height: 57px;
  }
}

.product__content-wrapper {
  @media (min-width: $vp-768) {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 416px;
    padding-right: calc(50% + 42px);
  }

  @media (min-width: $vp-1150) {
    position: static;

    padding-left: 175px;
    padding-right: calc(50% + 58px);
  }
}

.product__description {
  margin: 0 0 19px 0;
  font-size: 15px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    margin: 0 0 37px 0;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $vp-1150) {
    margin: 0 0 48px 0;
  }
}

.product__info-list {
  margin: 0 0 27px 0;

  @media (min-width: $vp-768) {
    margin: 0 0 61px 0;
  }

  @media (min-width: $vp-1150) {
    margin: 0 0 115px 0;
  }
}

.product__info-item {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  padding: 10px 0 10px 0;
  font-size: 15px;
  line-height: 20px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    grid-template-columns: 0.4fr 1fr;
    gap: 18px;
  }
}

.product__info-property {
  margin: 0;
}

.product__info-value {
  margin: 0;
}

.product__image-wrapper {
  margin: 0 0 25px 0;

  @media (min-width: $vp-768) {
    position: absolute;
    top: 12px;
    right: 0;
    width: 50%;
    height: 100%;
    margin: 0;
  }

  @media (min-width: $vp-1150) {
    top: 0;

    z-index: -1;
  }
}

.product__image {
  width: 100%;
}

.product__price {
  display: block;
  margin: 0 0 25px 0;
  font-weight: 700;
  text-align: center;

  @media (min-width: $vp-768) {
    margin: 0 0 32px 0;
    font-size: 20px;
  }
}

.product__button {
  padding: 15px 16px 14px 16px;
}
