.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1150px;

  @media (min-width: $vp-768) {
    padding: 0 50px;
  }

  @media (min-width: $vp-1150) {
    padding: 0 50px;
  }
}
